body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

.scale {
  transform: scale(1);
  position: relative;
  z-index: 1;
  transition: all 0.2s ease-in;
}

.scale > img {
  object-fit: contain;
}

.scale:hover {
  transform: scale(1.5);
  overflow: hidden;
  z-index: 9999;
  transition: all 0.2s ease-out;
}

.img1 { 
  grid-area: 1 / 1 / 2 / 2; 
  height: 100vh;
}

.img2 { 
  grid-area: 1 / 2 / 2 / 3;
  height: 100vh;
}

.img3 { 
  grid-area: 1 / 3 / 2 / 4; 
  height: 100vh;
}

.img4 { 
  grid-area: 1 / 4 / 2 / 5; 
  height: 100vh;
}

.img5 { 
  grid-area: 1 / 5 / 2 / 6; 
  height: 100vh;
} 
